@page

@using System.Linq

@model ChatJobsity.UI.Views.Chat.UserListModel
@inject UserManager<IdentityUser> _userManager

@using ChatJobsity.UI.Apis 

@inject IChatApi _chatApi

@{
    var allUsers = await _chatApi.GetChatUsers();
    var contacts = allUsers.Except(allUsers.Where(x => x.Id == new Guid(_userManager.GetUserId(User))));
}

<h1>Contacts</h1>

<ul>
    @foreach(var contat in contacts)
    {
        <il>
            <form asp-page-handler="Go" method="post" style="border:1px solid gray; padding: 10px; max-width: 300px;">
                <span>@contat.DisplayName</span>
                <button style="margin-left: 20px">Create Room</button>
                <input type="hidden" name="userId" value="@contat.Id" />
            </form>
            
        </il>
    }
</ul>
